# Binaries
/qup
/share
/connect
*.out
*.bin
*.exe
*.exe.dbg
*.executable

# Test logs
*.log

# Go workspace
go.work
go.work.sum

# OS and IDE files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
